/**********************
DEFAULT
***********************/

body {
    padding-top: 90px;
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    color: #637988;
    line-height: 1.7;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-list li {
    display: inline-block;
}

.social-list a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, label, button, .btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    display: block;
}

h1, .h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

h2.section-title {
    color: #231f20;
}

h2.section-title:after {
    display: block;
    content: '';
    width: 100%;
    height: 19px;
    background: url('../img/svg/separator.svg') center center no-repeat;
    margin-top: 45px;
}

h5 {
    font-size: 15px;
    letter-spacing: 0.2em;
}

section {
    position: relative;
}

section:nth-child(odd){
    background-color: #ffffff;
}

section:nth-child(even){
    background-color: #f4f4f4;
}

blockquote {
    padding: 0;
    margin: 0;
    border: 0;
}

form {
    text-align: left;
}

label {
    font-weight: normal;
}

button, .btn {
    font-size: 15px;
}

.form-group {
    margin: 0;
}

.form-control {


}

/*.form-control:focus {
        border-color: #ffffff;
        box-shadow: none;
}*/

/**********************
NAVBAR
***********************/

.navbar {
    min-height: 90px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar-brand {
    height: 90px;
    padding: 23px;
}

.navbar-brand img {
    max-height: 44px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 15px;
    color: #707070;
    padding: 20px 10px;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: #16476b;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #16476b;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    margin-top: 28px;
    margin-bottom: 28px;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #707070;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar {
    background: #16476b;
}

/**********************
HOME SECTION
***********************/

#home {
    height: 725px;
    background: url("../img/header.jpg") center center no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
}

.home-content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
}

.home-content .h1,
.home-content h2 {
    margin-top: 45px;
}

.home-content .cta-container {
    margin-top: 54px;
}

.home-content .btn {
    letter-spacing: 0.2em;
    margin:0 15px;
    text-align: center;
    padding: 0;
    width: 200px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    color: #ffffff;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
}

.home-content .btn-default {
    background-color: transparent;
    border: 1px solid #ffffff;
}

.home-content .btn-default:hover,
.home-content .btn-default.active.focus, 
.home-content .btn-default.active:focus, 
.home-content .btn-default.active:hover, 
.home-content .btn-default:active.focus, 
.home-content .btn-default:active:focus, 
.home-content .btn-default:active:hover {
    background: #ffffff;
    color: #231f20;
    border-color: #ffffff;
}

.home-content .btn-primary {
    background-color: #16476b;
}

.home-content .btn-primary:hover,
.home-content .btn-primary.active.focus, 
.home-content .btn-primary.active:focus, 
.home-content .btn-primary.active:hover, 
.home-content .btn-primary:active.focus, 
.home-content .btn-primary:active:focus, 
.home-content .btn-primary:active:hover {
    background: #ffffff;
    color: #16476b;
    border-color: #16476b;
}

.down-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 45px 15px 15px;
}

.down-arrow {
    animation: scrollDown 2s infinite;
}

@keyframes scrollDown {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/**********************
HISTORY SECTION
***********************/

#history {
    /*background-color: #f4f4f4;*/
    padding: 145px 0 152px;
}

.history-content {
    text-align: center;
}

.history-content p {
    margin-top: 42px;
}

/**********************
PORTFOLIO SECTION
***********************/

.project {
    position: relative;
    width: 320px;
    height: 555px;
    overflow: hidden;
    outline: none;
}

.project:hover .description {
    transform: translateY(-100%);
}

.project img {
    width: 100%;
}


.project .description {
    position: absolute;
    width: 100%;
    height: 370px;
    padding: 61px 33px 54px;
    background: #04a3ce;
    color: #ffffff;
    text-align: center;
    transition: all .3s ease-out;
}

.project .description p {
    margin-top: 65px;
}

.project .description .social-list {
    margin-top: 54px;
}

/**********************
SERVICES SECTION
***********************/

#services {
    padding: 50px 0;
}

.service {
    background: #ffffff;
    padding: 58px 61px 98px;
    text-align: center;
}

.service .separator {
    width: 30px;
    height: 2px;
    background-color: #16476b;
    margin: 25px auto 0;
}

.service h5 {
    margin-top: 20px;
    color: #231f20;
}

.service p {
    margin-top: 51px;
}


.service1 {
    background: #f4f4f4;
    padding: 8px 6px 9px;
    text-align: justify;
    font-size: 1.2em;
}

.service1 .separator {
    width: 10px;
    height: 2px;
    background-color: #16476b;
    margin: 25px auto 0;
}



/**********************
CLIENTS SECTION
***********************/

#clients {
    padding: 145px 0 150px;
}

.clients-content {
    text-align: center;
}

.clients-content blockquote {
    color: #231f20;
    font-size: 15px;
    margin-top: 37px;
}

.clients-content blockquote footer {
    margin-top: 30px;
    color: #999999;
}

.clients-content blockquote footer:before {
    content: '';
}

.clients-logs-container {
    margin-top: 115px;
    text-align: center;
}

/**********************
CONTACT SECTION
***********************/

#contact {
    background-color: #101012;
    color: #ffffff;
    padding: 15px 0 15px;
}

.contact-subsection {
    /*border: 1px solid #707070;*/
    text-align: justify;
    min-height: 150px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#about-subsection {
    padding: 95px 92px 149px;
}

#about-subsection h2:after {
    display: block;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #16476b;
    margin: 46px auto 0;
}

#about-subsection p {
    margin-top: 54px;
}

#form-subsection {
    padding: 95px 70px 76px;
    overflow: hidden;
}

#form-subsection .email-label {
    margin-top: 28px;
}

#form-subsection input {
    padding: 0 5px;
    height: 33px;	
}


#form-subsection .message-label {
    margin-top: 60px;
}

#form-subsection textarea {
    margin: 0;
    padding: 0 5px;
    border: 0;
    box-sizing: border-box;
    resize: none;
    font-size: 15px;
    line-height: 50px;
    vertical-align: bottom;
    background: linear-gradient(transparent 49px, #707070 1px);
    background-size: 100% 50px;
    background-repeat: repeat-y;
}

#form-subsection textarea:focus,
#form-subsection textarea:active {
    background: linear-gradient(transparent 49px, #ffffff 1px);
    background-size: 100% 50px;
    background-repeat: repeat-y;
}

#form-subsection .btn-default {
    color: #16476b;
    background: transparent;
    border: 0;
    border-color: transparent;
    border-radius: 0;
    padding: 10px 0;
    margin-top: 38px;
    outline: none;
    box-shadow: none;
}

#form-subsection .btn-default:hover,
#form-subsection .btn-default.active.focus, 
#form-subsection .btn-default.active:focus, 
#form-subsection .btn-default.active:hover, 
#form-subsection .btn-default:active.focus, 
#form-subsection .btn-default:active:focus, 
#form-subsection .btn-default:active:hover {
    color: #ffffff;
}

/**********************
FOOTER SECTION
***********************/

.rodapeN {
    background: #16476b;
    color: #ffffff;	
    min-height: 3em;	
}

#footer .copyright {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#footer .social-list {
    float: right;
}

/**********************
HELPER CLASSES
***********************/

.is-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbing { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/**********************
RESPONSIVE
***********************/

@media only screen and (max-width: 1199px) {

    /**********************
    CONTACT SECTION
    ***********************/

    #about-subsection, #form-subsection {
        padding: 95px 70px 70px;
        min-height: 560px;
    }

}

@media only screen and (max-width: 991px) {

    /**********************
    SERVICES SECTION
    ***********************/
    .service:not(first-of-type) {
        margin-top: 30px;
    }

    /**********************
        CONTACT SECTION
        ***********************/

    #about-subsection, #form-subsection {
        padding: 80px;
        min-height: auto;
    }

    #form-subsection {
        margin-top: 55px;
    }

}

@media only screen and (max-width: 767px) {

    /**********************
    DEFAULT
    ***********************/

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.5;
    }

    /**********************
    NAVBAR
    ***********************/

    .navbar-default .navbar-nav {
        text-align: center;
    }

    .navbar-default .navbar-nav>li>a {
        padding: 20px 0;
    }

    /**********************
    HOME SECTION
    ***********************/

    .home-content {
        transform: translateY(-55%);
    }

    .home-content .h1,
    .home-content h2 {
        font-size: 42px;
    }

    /**********************
    SERVICES SECTION
    ***********************/
    .service {
        padding: 30px;
    }

    /**********************
    CLIENTS SECTION
    ***********************/
    .single-client-container:not(first-of-type) {
        margin-top: 60px;
    }

    /**********************
    CONTACT SECTION
    ***********************/

    #about-subsection, #form-subsection {
        padding: 60px 30px;
        min-height: auto;
    }


    /**********************
    FOOTER SECTION
    ***********************/
    #footer {
        text-align: center;
    }

    #footer .social-list {
        float: none;
        /*margin-top: 45px;*/
    }

}

@media only screen and (max-width: 575px) {

    /**********************
    HOME SECTION
    ***********************/

    .home-content .btn {
        display: block;
        margin: 0 auto;
    }

    .home-content .btn-primary {
        margin-top: 30px;
    }

}


.small1{
    color: #231f20; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.i2{
    font-size: 4em; 
    /*color: #231f20;*/
}

.painel{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 1em;
}

/*input{
        color: #f0f0f0;

}

input:focus{color: #f0f0f0}
*/

/*************************
CARD
***************************/


.card1 .icon {
    font-size: 75px;
    line-height: 75px;
}
.card1 .icon ~ h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}
.section-cards .card1 a {
    opacity: .93;
}
.card1 {
    background: #fff;
    box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 30px;
    -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.card1:not(.card-plain):not(.card-price):hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}

.card1 .subtitle-black {
    color: #141414;
}
.card1 a {
    opacity: .85;
}
.card1:hover .header {
    opacity: 1;
}
.card1 h2 {
    margin-top: 0;
}
.card1 img {
    max-width: 100%;
}
.card1 .header img {
    border-radius: 4px;
}
.card1 .image-header,
.card1 .header img {
    width: 100%;
    border-radius: 4px 4px 0 0;
}
.card1 .image-header.image-full,
.card1 .header img.image-full {
    border-radius: 4px;
}
.card1 .row .image-header,
.card1 .row .header img {
    width: 100%;
    border-radius: 4px;
}
.card1 .btn {
    margin-top: 15px;
}
.card1 > img {
    border-radius: 4px;
}
.card1 .title {
    margin-bottom: 0;
    color: #333333;
}
.card1 .description {
    font-size: 13px;
    margin-top: 10px;
}

.card1-member {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.card1-member .content1 {
    padding: 25px;
}
.card1-member > img {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    width: 120px;
    margin: 0 auto;
}

.card1-white {
    background: #FFFFFF;
}

.card1-plain {
    border-radius: 0;
    box-shadow: none;
    background: none;
}
.card1-plain .image-header {
    border-radius: 4px;
}

.card1 p {
    min-height: 0;
}


/*************************************************
*												*
*												*
******************************************************/
.cards-section {
    padding: 60px 0;
    background: #f9f9fb;
}
.cards-section .title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
}
.cards-section .intro {
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 60px;
    color: #616670;
}
.cards-section .cards-wrapper {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}
.cards-section .item {
    margin-bottom: 30px;
}
.cards-section .item .icon-holder {
    margin-bottom: 15px;
}
.cards-section .item .icon {
    font-size: 36px;
}
.cards-section .item .title {
    font-size: 16px;
    font-weight: 600;
}
.cards-section .item .intro {
    margin-bottom: 15px;
}
.cards-section .item-inner {
    padding: 45px 30px;
    background: #fff;
    position: relative;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.cards-section .item-inner .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("../images/empty.gif");
    /* for IE8 */
}
.cards-section .item-inner:hover {
    background: #f5f5f5;
}
.cards-section .item-primary .item-inner {
    border-top: 3px solid #40babd;
}
.cards-section .item-primary .item-inner:hover .title {
    color: #2d8284;
}
.cards-section .item-primary .icon {
    color: #40babd;
}
.cards-section .item-green .item-inner {
    border-top: 3px solid #75c181;
}
.cards-section .item-green .item-inner:hover .title {
    color: #48a156;
}
.cards-section .item-green .icon {
    color: #75c181;
}
.cards-section .item-blue .item-inner {
    border-top: 3px solid #58bbee;
}
.cards-section .item-blue .item-inner:hover .title {
    color: #179de2;
}
.cards-section .item-blue .icon {
    color: #58bbee;
}
.cards-section .item-orange .item-inner {
    border-top: 3px solid #F88C30;
}
.cards-section .item-orange .item-inner:hover .title {
    color: #d46607;
}
.cards-section .item-orange .icon {
    color: #F88C30;
}
.cards-section .item-red .item-inner {
    border-top: 3px solid #f77b6b;
}
.cards-section .item-red .item-inner:hover .title {
    color: #f33a22;
}
.cards-section .item-red .icon {
    color: #f77b6b;
}
.cards-section .item-pink .item-inner {
    border-top: 3px solid #EA5395;
}
.cards-section .item-pink .item-inner:hover .title {
    color: #d61a6c;
}
.cards-section .item-pink .icon {
    color: #EA5395;
}
.cards-section .item-purple .item-inner {
    border-top: 3px solid #8A40A7;
}
.cards-section .item-purple .item-inner:hover .title {
    color: #5c2b70;
}
.cards-section .item-purple .icon {
    color: #8A40A7;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .cards-section .item-inner {
        padding: 30px 15px;
    }
}
.textm{
    font-size: 15px;
    color: black;
    font-family: 'Crimson Text', serif;
    text-align:justify; 
    text-transform: uppercase; 
    line-height:25px;
}

hr{
    border-color: #337ab7; 
}


/*==================================================================
            History section Style
====================================================================*/
.main_history{

}
.main_history .single_history_content .head_title h2{
    border-left:6px solid #e74c3c;
    padding-left: 30px;
}


/*==================================================================
            service section Style
====================================================================*/
.main_service .head_title{
    padding: 100px 0px 40px 0px;
    margin-bottom: 0px;
}
.main_service .head_title h2{
    margin-right: 12%;
    border-right: 6px solid #e74c3c;
    color:#fff;
    padding-right: 5%;
}
.main_service .single_service_img {
    position: relative;
    height: 676px;
}
.main_service .single_service_img img {
    width: 100%;
    height: 100%;
}

.main_service .single_service.single_service_text {
    margin-right:0px;
    background: #202020;
}
.main_service .single_service.single_service_text .single_service_icon i{
    background: #f4f5f9;
    width:70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color:#e74c3c;
    position: relative;
    z-index: 9;
    border:5px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 1.875rem;
}

.main_service .single_service.single_service_text .single_service_right_text {
    width: 96%;
}
.main_service .single_service.single_service_text .single_service_right_text h4{
    color:#e74c3c;
}
.main_service .single_service.single_service_text .single_service_right_text p{
    color:#999999;
    font-family: 'source_sans_proregular';
}

.box{
    padding: 1em;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 1em;
}

.box-titulo{
    font-size: 24px;     
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.tabela-aredondada {
    overflow:hidden;
    border-collapse:separate;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}