/* Author:WebThemez
 * Author URI:http://webthemez.com
 * License: Creative Commons Attribution 3.0 License (https://creativecommons.org/licenses/by/3.0/)
 */
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,700);
 @import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);
 body {
 	font-family: 'Open Sans', sans-serif;
 }
 .brand {
 	font-family: 'Raleway', sans-serif;
 }
 html,
 body {
 	height: 100%;
 }
 body {
 	font-size: 15px;
 	line-height: 1.50;
 	color: #000000;
 	background-color: #ffffff;
 	position: relative;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	color: #333333;
 }
 h1 {
 	font-size: 38px;
 	font-weight: 700;
 	margin-bottom: 20px;
 }
 h2 {
 	font-size: 28px;
 	margin-bottom: 15px;
 }
 h3 {
 	font-size: 22px;
 }
 h4 {
 	font-size: 18px;
 	font-weight: 700;
 }
 h5 {
 	font-size: 16px;
 	text-transform: uppercase;
 	font-weight: 700;
 }
 h6 {
 	font-weight: 700;
 }
 h1 span,
 h2 span,
 h3 span,
 h4 span {
 	color: #2e4b89;
 }
 .colored {
 	color: #2e4b89;
 }
 a {
 	/*color: #ffffff;*/
 }
 a:hover {
 	color: #000000;
 }
 a:focus,
 a:active {
 	outline: none;
 }
 .large {
 	font-size: 18px;
 }
 img {
 	display: block;
 	max-width: 200px;
 	height: auto;
 }
 .list-unstyled li {
 	padding: 5px 0;
 }
 .list-horizontal {
 	padding: 15px 0;
 }
 .list-horizontal-item img {
 	display: block;
 	margin: 0 auto;
 }
 .list-icons {
 	padding: 0;
 	margin: 20px 0;
 	list-style: none;
 	font-size: 18px;
 }
 .list-icons li {
 	padding: 0 0 15px 0;
 }
 blockquote {
 	border-left: none;
 	padding-left: 0;
 	padding-right: 0;
 }
 .title {
 	margin-top: 0px;
 }

/* Layout
----------------------------------------------------------------------------- */
.header {
	color: #020202;
	background-color: rgba(255, 255, 255, 1);
	padding: 5px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.banner {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	color: #fff;
}

.banner-image {
	vertical-align: middle;
	min-height: 100%;
	width: 100%;
}
.banner:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	content: "";
}

.banner-caption {
	position: absolute;
	top: 54%;
	width: 100%;
	/*z-index: 2;*/
	left: 0px;
	text-align: left;
}
.subfooter {
	background-color: #2e4b89;
	padding: 10px 10px;
}
.subfooter a {
	color: #323232;
}
.section {
	background-color: #ffffff;
	
}

footer.fixar-rodape{
	background-color:#16476b;
	color: #ffffff;
	bottom: 0;

	left: 0;
	height: 25px;
	position: fixed;
	width: 100%;
}

.flex-rw {
	display: flex;
	flex-flow: row wrap;
}





/* Backgrounds
----------------------------------------------------------------------------- */
.default-bg {
	background-color: #222222;
	color: #ffffff;
}
.default-bg.blue {
	background-color: #55acee;
}
.btn-primary {
	color: #fff;
	background-color: #2e4b89;
	border:0px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #2e4b89;
	border:0px;
}
.transprant-bg {
	color: #ffffff;
}
.default-bg h1,
.default-bg h2,
.default-bg h3,
.default-bg h4,
.default-bg h5,
.default-bg h6,
.transprant-bg h1,
.transprant-bg h2,
.transprant-bg h3,
.transprant-bg h4,
.transprant-bg h5,
.transprant-bg h6 {
	color: #ffffff;
}
.default-bg blockquote footer,
.transprant-bg blockquote footer {
	color: #cccccc;
}
.default-bg a,
.transprant-bg a {
	color: #ffffff;
	text-decoration: underline;
}
.default-bg a:hover,
.transprant-bg a:hover {
	text-decoration: none;
}
.transprant-bg {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position: 50% 0;
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
	background: #fff;
}
.transprant-bg .transprant-bg {
	margin-top: 80px;
	z-index: 3;
}
.transprant-bg:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #2e4b89;
}
.transprant-bg.blue:after {
	background-color: rgba(85, 172, 238, 0.7);
}
.transprant-bg .container {
	z-index: 3;
	position: relative;
}

.bg-image-2 {
}
.caption-data {position: absolute; top: 50%; left: 34%; z-index: 20; text-align: left; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); transform: translate(-50%,-50%);text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);}
.caption-data h1 {text-transform: uppercase;}
.caption-data h1 span {font-size: inherit; line-height: inherit; font-weight: inherit;}
.caption-data h3{line-height:34px;font-size: 30px;}
button.cta-button.btn-light, button.cta-button.btn-dark, .contact-form button.cta-button, button.cta-button.btn-default {
	background: transparent;
}
button.cta-button {
	font-size: 16px;
	line-height: 16px;
	border: 1px solid #fff;
	padding: 20px 42px;
	border-radius: 4px;
	font-family: 'Raleway';
	font-weight: 600;
	transition: background 0.3s, border-color 0.3s;
	margin-top:20px;
}
button.cta-button:hover{
	background:#fff;
	color:#000;
}
/* Misc
----------------------------------------------------------------------------- */
.no-view {
	opacity: 0;
	filter: alpha(opacity=0);
}
.object-visible,
.touch .no-view {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Targeting only Firefox for smoothest animations */
@-moz-document url-prefix() {
	.object-visible,
	.touch .no-view {
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz-transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
		-ms-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}
.space {
	padding: 20px 0;
}
.pr-10 {
	padding-right: 10px;
}
.pl-10 {
	padding-left: 10px;
}
.transprant-bg {
	padding-bottom: 0;
}
.secPadding{
	padding: 70px 0;
}
/* Sections
----------------------------------------------------------------------------- */
.banner-caption h1,
.banner-caption h2,
.banner-caption h3,
.banner-caption h4,
.banner-caption h5,
.banner-caption h6 {
	color: #ffffff;
}
.banner-caption h1 {
	font-size: 45px;
}
.footer h1{
	color:#fff;
}
.footer.section {
	background: #020202;
	color: #949494;
}
.subfooter p {
	margin-bottom: 0;
	color: #fff;
}
.hero-caption{
	text-align:center;
	padding:40px 0;
}
.hero-caption h2{
	text-align:center;
}
.hero-caption p{

}
/* Template Components
----------------------------------------------------------------------------- */
/* Buttons
---------------------------------- */
.btn {
	/*padding: 8px 15px; */
	font-size: 12px;
	line-height: 1.42857143;
	min-width: 100px;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	/* Arredondamento dos Botões*/
	/*-webkit-border-radius: 10px 5px 10px 5px;*/
	-webkit-border-radius: 5px 10px 5px 10px;
}

.btn7 {
	/*padding: 8px 15px; */
	font-size: 12px;
	line-height: 1.42857143;
	min-width: 50px;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	/* Arredondamento dos Botões*/
	/*-webkit-border-radius: 10px 5px 10px 5px;*/
	-webkit-border-radius: 5px 10px 5px 10px;
}

.btn-default {
	color: #FFFFFF;
	background: #2e4b89;
	border: 0;
}
.btn-default:hover {
	color: #ffffff;
	background-color: #2e4b89;
	border: 0;
}
.media-left, .media > .pull-left {
	padding-right: 26px;
}
/* Collapse
---------------------------------- */
.panel-group .panel {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
}
.panel-default > .panel-heading {
	padding: 0;
	outline: none;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	width: 100%;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border: 1px solid #f0f0f0;
	border-top: none;
	background-color: #FCFCFC;}
	.panel-heading a {
		font-weight: 400;
		padding: 12px 35px 12px 15px;
		display: inline-block;
		width: 100%;
		background-color: #2e4b89;
		color: #FFFFFF;
		position: relative;
		text-decoration: none;
		border: #ECECEC 1px solid;
	}
	.panel-heading a.collapsed {
		color: #333333;
		background-color: #C7C7C7;
	}
	.panel-heading a:after {
		font-family: "FontAwesome";
		content: "\f147";
		position: absolute;
		right: 15px;
		font-size: 14px;
		font-weight: 300;
		top: 50%;
		line-height: 1;
		margin-top: -7px;
	}
	.panel-heading a.collapsed:after {
		content: "\f196";
	}
	.panel-heading a:hover {
		text-decoration: none;
		background-color: #2e4b89;
		color: #FFFFFF;
	}
	.panel-title a i {
		padding-right: 10px;
		font-size: 20px;
	}

/* Pills
---------------------------------- */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover {
	background-color: #2e4b89;
	border-color: #2e4b89;
	color: #ffffff;
}
.nav-pills > li > a {
	border-radius: 0;
	padding: 8px 20px;
	border: 1px solid #cacaca;
	color: #666666;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 300;
}

/* Forms
---------------------------------- */
.form-control {
	height: 45px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.form-control-feedback {
	color: #cccccc;
}
.has-feedback label.sr-only ~ .form-control-feedback {
	top: 15px;
}
textarea {
	resize: vertical;
}
.price-table .panel-heading{
	padding: 10px 0;
}
/* Modals
---------------------------------- */
.modal-content {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.modal-header {
	background-color: #626262;
	color: #ffffff;
}
.modal-header h4 {
	color: #ffffff;
}
.modal-header .close {
	font-weight: 300;
	color: #FFFFFF;
	text-shadow: none;
	filter: alpha(opacity=100);
	opacity: 1;
}

@media (min-width:1200px) {
	.modal-lg {
		width: 1140px;
	}
}

/* Media
---------------------------------- */
.media .fa {
	font-size: 47px;
	width: 40px;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
	text-align: center;
}

/* Navigations
----------------------------------------------------------------------------- */
.header .navbar {
	margin-bottom: 0;
}
.main-navigation .navbar-default {
	background-color: transparent;
	border: none;
}
.main-navigation .navbar-default .navbar-nav > li > a {
	padding: 5px 10px;
	color: #444444;  font-weight: 700;  font-size: 16px;
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
	background-color: transparent;
	color:#2e4b89;
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
	color: #2e4b89;
}

/* carousel */
#quote-carousel 
{
	padding: 0 10px 30px 10px;
	margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
	background: none;
	color: #222;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
	left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
	right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
	background: btn-default;
}
#quote-carousel .carousel-indicators .active 
{
	background: #333333;
}
#quote-carousel img
{
	width: 250px;
	height: 100px
}
/* End carousel */

.item blockquote {
	border-left: none; 
	margin: 0;
}

.item blockquote img {
	margin-bottom: 10px;
}

.item blockquote p:before {
	content: "\f10d";
	font-family: 'Fontawesome';
	float: left;
	margin-right: 10px;
}
.panel-danger > .panel-heading {
	color: #ADADAD;
	background-color: #C7C7C7;
	border-color: #C0C0C0;
}


/**
  MEDIA QUERIES
  */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
  	#quote-carousel 
  	{
  		margin-bottom: 0;
  		padding: 0 40px 30px 40px;
  	}
  	
  }

  /* Small devices (tablets, up to 768px) */
  @media (max-width: 768px) { 
  	
  	/* Make the indicators larger for easier clicking with fingers/thumb on mobile */
  	
  	#quote-carousel .carousel-indicators {
  		bottom: -20px !important;  
  	}
  	#quote-carousel .carousel-indicators li {
  		display: inline-block;
  		margin: 0px 5px;
  		width: 15px;
  		height: 15px;
  	}
  	#quote-carousel .carousel-indicators li.active {
  		margin: 0px 5px;
  		width: 20px;
  		height: 20px;
  	}
  }

  @media (min-width:768px) {
  	.main-navigation .navbar-default .navbar-nav > li > a {
  		padding-top: 30px;
  		padding-bottom: 30px;
  		-webkit-transition: all 0.3s ease-in-out;
  		-moz-transition: all 0.3s ease-in-out;
  		-o-transition: all 0.3s ease-in-out;
  		-ms-transition: all 0.3s ease-in-out;
  		transition: all 0.3s ease-in-out;
  	}
  }
  @media (min-width:768px) and (max-width:991px) {
  	.main-navigation .container-fluid {
  		padding-left: 0;
  		padding-right: 0;
  	}
  	.navbar-nav {
  		float: left !important;
  	}
  }
  @media (max-width:767px) {
  	.header.navbar-fixed-top {
  		position: relative;
  	}
  }

/* Fixed Header
----------------------------------------------------------------------------- */
.fixed-header-on .header {
	background-color: rgba(255, 255, 255, 1);
	padding: 5px 0;
}
.fixed-header-on .brand {
	font-size: 20px;
}
.fixed-header-on .logo {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	margin-top: 0;
	margin-bottom: 0;
}
@media (min-width:768px) {
	.fixed-header-on .navbar-default .navbar-nav > li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (max-width:991px) {
	.fixed-header-on .logo,
	.fixed-header-on .brand,
	.fixed-header-on .site-slogan {
		display: none;
	}
}

/* Blocks/Widgets
----------------------------------------------------------------------------- */
/* Logo, Site Name, Site Slogan
---------------------------------- */
.logo {
	margin: 10px 0px 1px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.logo,
.logo-section {
	float: left;
}
.brand {
	font-size: 38px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 10px 0;
}
.brand a {
	color: #2e4b89;
	font-weight: 600;
}
.brand a:hover {
	text-decoration: none;
}
.site-slogan {
	font-size: 12px;
}

/* block-lists
---------------------------------- */
.block-list .media-left {
	width: 60px;
}
.block-list p{
	font-size: 14px;
}
.block-list .fa {
	padding: 20px;
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
/* Social Links
---------------------------------- */
.social-links {
	padding: 0;
	list-style: none;
	margin: 15px 0;
}
.social-links li {
	margin: 10px 10px 10px 0;
	display: inline-block;
	font-size: 36px;
}
.social-links li a {
	color: #BBBBBB;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/* border: 1px solid #D0D0D0; */
	width: 52px;
	height: 52px;
	display: inline-block;
	border-radius: 50%;
	font-size: 26px;
	text-align: center;
	padding: 4px;
}
.social-links li.twitter a:hover {
	color: #55acee;
}
.social-links li.skype a:hover {
	color: #00aff0;
}
.social-links li.linkedin a:hover {
	color: #0976b4;
}
.social-links li.googleplus a:hover {
	color: #dd4b39;
}
.social-links li.youtube a:hover {
	color: #b31217;
}
.social-links li.flickr a:hover {
	color: #ff0084;
}
.social-links li.facebook a:hover {
	color: #3b5998;
}
.social-links li.pinterest a:hover {
	color: #cb2027;
}

/* Isotope Items
---------------------------------- */
.filters {
	margin: 0 0 30px 0;
}
.filters .nav-pills > li {
	margin-right: 2px;
	margin-bottom: 2px;
}
.filters .nav-pills > li + li {
	margin-left: 0px;
}
.text-center.filters .nav-pills > li {
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	display: inline-block;
	float: none;
}
.isotope-container {
	overflow: hidden;
}
.isotope-item {
	margin-bottom: 20px;
}
.isotope-item .btn-default {
	color: #FFFFFF;
	background: rgba(46, 75, 137);
	margin-top: -36px;
	z-index: 2;
	position: relative;
	border: 0;
}
.isotope-item .btn-default:hover {
	color: #ffffff;
}
@media (max-width:480px) {
	.filters .nav-pills > li {
		width: 100%;
		display: block;
	}

}

/* Images Overlay
----------------------------------------------------------------------------- */
.overlay-container {
	position: relative;
	display: block;
	overflow: hidden;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(46, 75, 137, 0.64);
	cursor: pointer;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.overlay:hover {
	text-decoration: none;
}
.overlay span {
	position: absolute;
	display: block;
	bottom: 10px;
	text-align: center;
	width: 100%;
	color: #ffffff;
	font-size: 13px;
	font-weight: 300;
}
.overlay i {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 18px;
	line-height: 1x;
	color: #ffffff;
	margin-top: -8px;
	margin-left: -8px;
	text-align: center;
}
.overlay-container:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	transform: scale(1);
}

hr.style18 { 
	height: 30px; 
	border-style: solid; 
	border-color: #e4e4e4; 
	border-width: 1px 0 0 0; 
	
} 
hr.style18:before { 
	display: block; 
	content: ""; 
	height: 30px; 
	margin-top: -31px; 
	border-style: solid; 
	border-color: #e4e4e4; 
	border-width: 0 0 1px 0; 
	
}
hr.style18 {
	height: 30px;
	border-style: solid;
	border-color: #e4e4e4;
	border-width: 1px 0 0 0;
	
	width:50%;

}
hr.style18:before { /* Not really supposed to work, but does */
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: #e4e4e4;
	border-width: 0 0 1px 0;
	
}




/*site de sistema interno */


/*SLIDER*/
.banner1 {position: relative;color: #fff;}
.banner1 p{font:300 1.35em/4em 'Old Standard TT', serif;margin:0; }
.banner1 img.img-responsive{width: 100%;}
.banner1 .welcome-message{position: absolute;left: 0;right:0;bottom:0;top:0;text-align: center;}
.banner1 .welcome-message .wrap-info{display: table;height: 100%;width: 100%;}
.banner1 .welcome-message .wrap-info .information{display: table-cell;vertical-align: middle;}
.banner1 .arrow-nav{position: absolute;bottom:-3.5em;background-color: #3579ad;height: 7em;width: 7em;display: inline-block;z-index: 100;left: 50%;margin-left: -52px;color: #fff;border-radius: 50%;}
.banner1 .arrow-nav i{font-size: 5em;line-height:105px;}
.banner1 .arrow-nav:hover{background: #17476b;}


/* pagina */


.timeline {
	list-style: none;
	padding: 0;
	position: relative;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: "";
	width: 2px;
	background-color: #948c7f; /* LINHA DA PAGINA INICIAL DO ALUNO --------------------------*/
	left: 40px;
	margin-left: -1.5px;
}
.timeline > li {
	margin-bottom: 50px;
	position: relative;
	min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li .timeline-panel {
	width: 100%;
	float: right;
	padding: 0 20px 0 100px;
	position: relative;
	text-align: left;
}
.timeline > li .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline > li .timeline-image {
	left: 0;
	margin-left: 0;
	width: 80px;
	height: 80px;
	position: absolute;
	/* z-index: 100;*/ 
	background-color: #16476b;
	color: white;
	border-radius: 100%;
	border: 7px solid #948c7f; /* FUNDO DA IMAGEM----------------------------------------------*/
	text-align: center;
}
.timeline > li .timeline-image h4 {
	font-size: 10px;
	margin-top: 12px;
	line-height: 14px;
	color: white;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
	text-align: left;
	padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline > li:last-child {
	margin-bottom: 0;
}
.timeline .timeline-heading h4 {
	margin-top: 0;
	color: inherit;
}
.timeline .timeline-heading h4.subheading {
	text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
	margin-bottom: 0;
}
@media (min-width: 768px) {
	.timeline:before {
		left: 50%;
	}
	.timeline > li {
		margin-bottom: 100px;
		min-height: 100px;
	}
	.timeline > li .timeline-panel {
		width: 41%;
		float: left;
		padding: 0 20px 20px 30px;
		text-align: right;
	}
	.timeline > li .timeline-image {
		width: 100px;
		height: 100px;
		left: 50%;
		margin-left: -50px;
	}
	.timeline > li .timeline-image h4 {
		font-size: 13px;
		margin-top: 16px;
		line-height: 18px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		float: right;
		text-align: left;
		padding: 0 30px 20px 20px;
	}
}
@media (min-width: 992px) {
	.timeline > li {
		min-height: 150px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px;
	}
	.timeline > li .timeline-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	.timeline > li .timeline-image h4 {
		font-size: 18px;
		margin-top: 30px;
		line-height: 26px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 20px 20px;
	}
}
@media (min-width: 1200px) {
	.timeline > li {
		min-height: 170px;
	}
	.timeline > li .timeline-panel {
		padding: 0 20px 20px 100px;
	}
	.timeline > li .timeline-image {
		width: 170px;
		height: 170px;
		margin-left: -85px;
	}
	.timeline > li .timeline-image h4 {
		margin-top: 40px;
	}
	.timeline > li.timeline-inverted > .timeline-panel {
		padding: 0 100px 20px 20px;
	}
	
	
}


.topo-image1 {
	
	margin-left: 0;
	width: 500px;
	height: 500px;
	
	z-index: 100;
	background-color: #16476b;
	color: white;
	border-radius: 100%;
	border: 7px solid #f1f1f1;
	text-align: center;

	
}
.topo-image1 h4 {
	font-size: 10px;
	margin-top: 12px;
	line-height: 14px;
}

.topo-image2 {
	left:50%;
	margin-left: 0;
	width: 300px;
	height: 300px;
	z-index: 100;
	background-color: #1b4999;
	color: white;
	border-radius: 100%;
	border: 7px solid #f1f1f1;

}


.topo-image2 h4 {
	font-size: 10px;
	margin-top: 12px;
	line-height: 14px;
}
.topo-image3 {
	
	margin-left: 0;
	width: 500px;
	height: 500px;
	
	z-index: 100;
	background-color: #fed136;
	color: white;
	border-radius: 100%;
	border: 7px solid #f1f1f1;
	text-align: center;
}
.topo-image3 h4 {
	font-size: 10px;
	margin-top: 12px;
	line-height: 14px;
}
.text-topo {
	
	text-align: justify;
}
.text-logo {
	
	text-align: right;
}

/*-----------------------------------------------------------------ALTERADOS POR JEAN -----------------------------------------------------------------------------*/
.btn1 {
	padding: 8px 15px;
	font-size: 14px;
	line-height: 1.42857143;
	min-width: 160px;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-primary1 {
	color: #fff;
	background-color: #2e4b89;
	border:0px;
}
.btn-primary1:hover, .btn-primary1:focus, .btn-primary1.focus, .btn-primary1:active, .btn-primary1.active, .open > .dropdown-toggle.btn-primary1 {
	color: #fff;
	background-color: #2e4b89;
	border:0px;
}

/*--------------- novo botao --------------------*/

.btn2 {
	padding: 8px 15px;
	font-size: 14px;
	line-height: 1.42857143;
	min-width: 160px;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-default2 {
	color: #FFFFFF;
	background: #2e4b89;
	border: 0;
}
.btn-default2:hover {
	color: #ffffff;
	background-color: #2e4b89;
	border: 0;
}
.media-left, .media > .pull-left {
	padding-right: 26px;
}

.btn-primary2 {
	color: #fff;
	background-color: #16476b;
	border:0px;
}
.btn-primary2:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #16476b;
	border:0px;
}



/*-----------------------------------------INSERIDOS POR IGOR------------------------------------------------- */

@-webkit-keyframes myanimation {
	from {
		left: 0%;
	}
	to {
		left: 50%;
	}
}
h1 {
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding: 20px 0;
	color: #777;
}

.checkout-wrap {
	color: #444;
	font-family: 'PT Sans Caption', sans-serif;
	margin: 40px auto;
	max-width: 1200px;
	position: relative;
}

ul.checkout-bar li {
	color: #ccc;
	display: block;
	font-size: 16px;
	font-weight: 600;
	padding: 14px 20px 14px 80px;
	position: relative;
}
ul.checkout-bar li:before {
	-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	background: #ddd;
	border: 2px solid #FFF;
	border-radius: 50%;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	left: 20px;
	line-height: 37px;
	height: 35px;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	top: 4px;
	width: 35px;
	z-index: auto;
}
ul.checkout-bar li.active {
	color: #8bc53f;
	font-weight: bold;
}
ul.checkout-bar li.active:before {
	background: #8bc53f;
	z-index: 99999;
}
ul.checkout-bar li.visited {
	background: #ECECEC;
	color: #57aed1;
	z-index: 99999;
}
ul.checkout-bar li.visited:before {
	background: #57aed1;
	z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
	content: "1";
}
ul.checkout-bar li:nth-child(2):before {
	content: "2";
}
ul.checkout-bar li:nth-child(3):before {
	content: "3";
}
ul.checkout-bar li:nth-child(4):before {
	content: "4";
}
ul.checkout-bar li:nth-child(5):before {
	content: "5";
}
ul.checkout-bar li:nth-child(6):before {
	content: "6";
}
ul.checkout-bar a {
	color: #57aed1;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

@media all and (min-width: 800px) {
	.checkout-bar li.active:after {
		-webkit-animation: myanimation 3s 0;
		background-size: 35px 35px;
		background-color: #8bc53f;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		content: "";
		height: 15px;
		width: 100%;
		left: 50%;
		position: absolute;
		top: -50px;
		z-index: 0;
	}

	.checkout-wrap {
		margin: 30px auto;
	}

	ul.checkout-bar {
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		background-size: 35px 35px;
		background-color: #EcEcEc;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
		border-radius: 15px;
		height: 15px;
		margin: 0 auto;
		padding: 0;
		position: absolute;
		width: 79%;
	}
	ul.checkout-bar:before {
		background-size: 35px 35px;
		background-color: #57aed1;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		content: " ";
		height: 15px;
		left: 0;
		position: absolute;
		width: 10%;
	}
	ul.checkout-bar li {
		display: inline-block;
		margin: 50px 0 0;
		padding: 0;
		text-align: center;
		width: 19%;
	}
	ul.checkout-bar li:before {
		height: 45px;
		left: 40%;
		line-height: 45px;
		position: absolute;
		top: -65px;
		width: 45px;
		z-index: 99;
	}
	ul.checkout-bar li.visited {
		background: none;
	}
	ul.checkout-bar li.visited:after {
		background-size: 35px 35px;
		background-color: #57aed1;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		content: "";
		height: 15px;
		left: 50%;
		position: absolute;
		top: -50px;
		width: 100%;
		z-index: 99;
	}

	/* INICIO RH */


.card1 .icon {
  font-size: 75px;
  line-height: 75px;
}
.card1 .icon ~ h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}
.section-cards .card1 a {
  opacity: .93;
}
.card1 {
  background: #fff;
  box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-bottom: 30px;
  -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.card1:not(.card-plain):not(.card-price):hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}

.card1 .subtitle-black {
  color: #141414;
}
.card1 a {
  opacity: .85;
}
.card1:hover .header {
  opacity: 1;
}
.card1 h2 {
  margin-top: 0;
}
.card1 img {
  max-width: 100%;
}
.card1 .header img {
  border-radius: 4px;
}
.card1 .image-header,
.card1 .header img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.card1 .image-header.image-full,
.card1 .header img.image-full {
  border-radius: 4px;
}
.card1 .row .image-header,
.card1 .row .header img {
  width: 100%;
  border-radius: 4px;
}
.card1 .btn {
  margin-top: 15px;
}
.card1 > img {
  border-radius: 4px;
}
.card1 .title {
  margin-bottom: 0;
  color: #333333;
}
.card1 .description {
  font-size: 13px;
  margin-top: 10px;
}

.card1-member {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.card1-member .content1 {
  padding: 25px;
}
.card1-member > img {
  background: none repeat scroll 0 0 transparent;
  height: auto;
  width: 120px;
  margin: 0 auto;
}

.card1-white {
  background: #FFFFFF;
}

.card1-plain {
  border-radius: 0;
  box-shadow: none;
  background: none;
}
.card1-plain .image-header {
  border-radius: 4px;
}

.card1 p {
  min-height: 0;
}


  .section-pricing [class*="col-"]:not(:first-child):not(:last-child) > .card1:not(.card-black) {
    border-radius: 0;
  }
  .section-pricing .card1:not(.card-black) {
    box-shadow: none;
  }
  .section-pricing [class*="col-"]:first-child > .card1:not(.card-black) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .section-pricing [class*="col-"]:last-child > .card1:not(.card-black) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

    .section-numbers .card1 {
    padding: 20px 0;
  }

.section-team-4 .team .member1 {
  padding: 0 10px;
}
.section-team-4 .team .member1 img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.section-team-4 .team .member1 .description {
  padding: 10px 0;
}
.section-team-4 .team .member1 .description .details {
  font-size: 14px;
}
.section-team-4 .team .member1 .description .details i {
  color: #777777;
}

.section-team-3 .team .member1 {
  text-align: center;
}
.section-team-3 .team .member1 .big-text {
  margin-bottom: 20px;
}
.section-team-3 .team .member1 img {
  margin: 0 auto;
}

.section-team-3 .team .member1.first-name {
  float: right;
}
.section-team-3 .team .member1 .last-name {
  float: left;
}
.section-team-3 .team .member1 .motto {
  position: relative;
  text-transform: none;
  color: #c5a47e;
  max-width: 55%;
  margin: 0 auto;
}
.section-team-3 .team .member1 .motto h3 {
  font-size: 22px;
}

.section-team-2 .team .member1 {
  border-radius: 50%;
  display: block;
  text-align: center;
}
.section-team-2 .team .member1 p {
  font-size: 1em;
}
.section-team-2 .team .member1 .social-buttons {
  display: inline-block;
  padding: 15px 35px;
}
.section-team-2 .team .member1 img {
  background: none repeat scroll 0 0 transparent;
  height: auto;
  width: 120px;
  margin: 0 auto;
}

.section-team-3 .team .member1 .first-name, .section-team-3 .team .member1 .last-name {
  min-width: 65%;
  padding: 0 15px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  font-size: 18px;
  padding-top: 9px;
  vertical-align: middle;
  margin-top: 35px;
}



.member1 .description {
  min-height: 100px;

}


.section-pricing .container1 > .content1 {
  margin-top: 115px;
  position: relative;
  z-index: 3;
}

.card-member .content1 {
  padding: 25px;
}

.section-header .content1,
.section-header-blog .content1,
.section-presentation-page .content1 {
  position: relative;
  color: white;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  vertical-align: center;
  line-height: 1.7;
  position: relative;
  top: 44%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

  .section-with-hover .project .over-area .content1 {
    opacity: 1;
    opacity: 0.2s;
    filter: alpha(opacity=20s);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }
  .section-with-hover .project .over-area .content1 h4 {
    opacity: 1;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  .section-with-hover .project .over-area .content1 p {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

    .section-header .content1 {
    top: 50%;
  }
  .section-header .content1 h1, .section-header .content1 h5, .section-header .content1 p {
    margin: 0;
  }
  .section-header .content1 h1 {
    font-size: 4.5em;
    letter-spacing: 0.07em;
    line-height: 1.7;
  }
  .section-header .content1 h1 span {
    font-size: 1em;
  }
  .section-header .content1 h5 {
    font-size: 1.125em;
    margin-top: 50px;
  }
  .section-header .content1 .separator {
    width: 12em;
  }

.avatar1 {
  border: 3px solid #16466a;
  border-radius: 50%;
  overflow: hidden;
  max-width: 110px;
  margin: 0 auto;
}
.avatar1 img {
  width: 100%;
  height: auto;
}

.avatar1-danger {
  border-color: #16466a;
}


.btn-morphing .circle1,
.gsdk-collapse {
  -webkit-transition: all 370ms linear;
  -moz-transition: all 370ms linear;
  -o-transition: all 370ms linear;
  -ms-transition: all 370ms linear;
  transition: all 370ms linear;
}

.section .parallax1,
.section .static-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}
.section .parallax1 > img,
.section .parallax1 .filter > img,
.section .static-image > img,
.section .static-image .filter > img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}
.section .parallax1-small {
  height: 65vh;
}

.section-small .parallax1 .image,
.section-small .static-image .image,
.section-get-started .parallax1 .image,
.section-get-started .static-image .image {
  height: 100vh !important;
}

.section-header-small .paralla1x,
.section-header-small .static-image {
  min-height: 50vh;
  height: auto;
}

.section-get-started .parallax1,
.section-get-started .static-image,
.section-header-freebie .parallax1,
.section-header-freebie .static-image,
.section-our-team-freebie .parallax1,
.section-our-team-freebie .static-image {
  height: auto;
}

.section-contact-4 .parallax1,
.section-our-services .parallax1 {
  height: 450px;
}

  .section-header .parallax1, .section-header .static-image {
    height: 80vh;
  }
  .section-header .parallax1:after, .section-header .static-image:after {
    height: 80vh;
  }

    .section-pricing .parallax1 {
    height: auto;
  }

  .section-pricing .container1 > .content {
  margin-top: 115px;
  position: relative;
  z-index: 3;
}

.footer-transparent .container1 {
  z-index: 2;
  position: relative;
}
.footer-big .container1 > hr {
  margin-top: 50px;
}
.section-header .container1,
.section-header-blog .container1,
.section-presentation-page .container1 {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}

.section-team-1 .container1 {
  position: absolute;
  width: 100%;
  top: 0;
}

.section-closure .container1 {
  position: relative;
  z-index: 2;
  padding: 150px 0;
}

.section-get-started .container1,
.section-header-freebie .container1,
.section-our-team-freebie .container1 {
  position: relative;
  z-index: 100;
  display: block;
  margin-top: 30vh;
  text-align: center;
}

.section-get-started .container1 {
  margin: 15vh auto;
}
.section-our-team-freebie .container1 {
  margin-top: 14vh;
  margin-bottom: 50px;
}
.section-presentation-page .container1 {
  margin-top: 4vh;
}
  .navbar-burger .container1 {
    padding: 0 15px;
  }
  .navbar .container1 {
    left: 0;
  }

  .section-pricing .container > .content1 {
  margin-top: 115px;
  position: relative;
  z-index: 3;
}


