@font-face {
    font-family: "fonty";
    src: url(fonty.ttf) format("truetype");
}
@font-face {
    font-family: "fonty";
    src: url("fonty.eot") /* EOT file for IE */
}

body{
    margin: 0 0 0 0;
}


.tvbox img{
    width: auto;
}

img{
    border-style: none;
    width:1890px;
    height: 580px;
    
    
}

.remote{
    display: none;
}












