#wrap {
  margin: 0 auto 30px;
}

#regbar {
  height: 67px;
  background: #34495e;
}

#navthing {
  margin-left: 50px;
}



fieldset {
  border: none;
}

.login {
  position: absolute;
  width: 350px;
  display: none;
  top: 75%;
  left: 60%;
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #c4c4c4;
  left: 25%;
  position: absolute;
  top: -10px;
  
}

.formholder {
  background: #c4c4c4;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
  
}
.formholder input[type="email"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #34495e;
  
}
.formholder input[type="submit"] {
  background: #757575;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #34495e;
}

.randompad {
  padding: 10px;
}

.green {
  color: #34495e;
}
.login2 {
  position: absolute;
  width: 350px;
  display: none;
  top: 100%;
}
.arrow-up2 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #c4c4c4;
  left: 10%;
  position: absolute;
  top: -10px;
  
}
.formholder2 {
  background: #c4c4c4;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
  
}
.formholder2 input[type="email"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  
}
.formholder2 input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #34495e;
  
}
.formholder2 input[type="submit"] {
  background: #757575;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder2 input[type="submit"]:hover {
  background: #34495e;
}